In [1]:
# Quitamos la última línea del csv
# !head -n-1 viajes202208.csv > viajes202208_fix.csv

In [2]:
import pandas as pd
with open('viajes.csv',encoding='utf-16', errors = 'backslashreplace') as f:
    viajes_sample = pd.read_csv(f, sep=';', low_memory=False)
    viajes_dtypes = viajes_sample.dtypes

In [3]:
viajes_dtypes.to_dict()

{'nviaje': dtype('int64'),
 'netapa': dtype('int64'),
 'etapas': dtype('float64'),
 'netapassinbajada': dtype('int64'),
 'ultimaetapaconbajada': dtype('int64'),
 'tviaje_seg': dtype('float64'),
 'tviaje_min': dtype('float64'),
 'dviajeeuclidiana_mts': dtype('float64'),
 'dviajeenruta_mts': dtype('float64'),
 'paraderosubida': dtype('O'),
 'paraderobajada': dtype('O'),
 'comunasubida': dtype('O'),
 'comunabajada': dtype('O'),
 'diseno777subida': dtype('float64'),
 'diseno777bajada': dtype('float64'),
 'tiemposubida': dtype('O'),
 'tiempobajada': dtype('O'),
 'periodosubida': dtype('O'),
 'periodobajada': dtype('O'),
 'tipodia': dtype('O'),
 'mediahora': dtype('O'),
 'contrato': dtype('float64'),
 'factorexpansion': dtype('float64'),
 'tiempomediodeviaje': dtype('O'),
 'periodomediodeviaje': dtype('O'),
 'tipodiamediodeviaje': dtype('O'),
 't_1era_etapa': dtype('float64'),
 'd_1era_etapa': dtype('float64'),
 'tespera_1era_etapa': dtype('float64'),
 'ttrasbordo_1era_etapa': dtype('float64'),
 'tcaminata_1era_etapa': dtype('float64'),
 'dtransbordo_1era_etapa': dtype('float64'),
 't_2da_etapa': dtype('float64'),
 'd_2da_etapa': dtype('float64'),
 'tespera_2da_etapa': dtype('float64'),
 'ttrasbordo_2da_etapa': dtype('float64'),
 'tcaminata_2da_etapa': dtype('float64'),
 'dtransbordo_2da_etapa': dtype('float64'),
 't_3era_etapa': dtype('float64'),
 'd_3era_etapa': dtype('float64'),
 'tespera_3era_etapa': dtype('float64'),
 'ttrasbordo_3era_etapa': dtype('float64'),
 'tcaminata_3era_etapa': dtype('float64'),
 'dtransbordo_3era_etapa': dtype('float64'),
 't_4ta_etapa': dtype('float64'),
 'd_4ta_etapa': dtype('float64'),
 'tespera_4ta_etapa': dtype('float64'),
 'ttrasbordo_4ta_etapa': dtype('float64'),
 'tcaminata_4ta_etapa': dtype('float64'),
 'dtransbordo_4ta_etapa': dtype('float64'),
 'op_1era_etapa': dtype('float64'),
 'op_2da_etapa': dtype('float64'),
 'op_3era_etapa': dtype('float64'),
 'op_4ta_etapa': dtype('float64'),
 'serv_1era_etapa': dtype('O'),
 'serv_2da_etapa': dtype('O'),
 'serv_3era_etapa': dtype('O'),
 'serv_4ta_etapa': dtype('O'),
 'linea_metro_subida_1': dtype('O'),
 'linea_metro_subida_2': dtype('O'),
 'linea_metro_subida_3': dtype('O'),
 'linea_metro_subida_4': dtype('O'),
 'linea_metro_bajada_1': dtype('float64'),
 'linea_metro_bajada_2': dtype('float64'),
 'linea_metro_bajada_3': dtype('float64'),
 'linea_metro_bajada_4': dtype('float64'),
 'paraderosubida_1era': dtype('O'),
 'paraderosubida_2da': dtype('O'),
 'paraderosubida_3era': dtype('O'),
 'paraderosubida_4ta': dtype('O'),
 'tiemposubida_1era': dtype('O'),
 'tiemposubida_2da': dtype('O'),
 'tiemposubida_3era': dtype('O'),
 'tiemposubida_4ta': dtype('O'),
 'zona777subida_1era': dtype('float64'),
 'zona777subida_2da': dtype('float64'),
 'zona777subida_3era': dtype('float64'),
 'zona777subida_4ta': dtype('float64'),
 'paraderobajada_1era': dtype('O'),
 'paraderobajada_2da': dtype('O'),
 'paraderobajada_3era': dtype('O'),
 'paraderobajada_4ta': dtype('O'),
 'tiempobajada_1era': dtype('O'),
 'tiempobajada_2da': dtype('O'),
 'tiempobajada_3era': dtype('O'),
 'tiempobajada_4ta': dtype('O'),
 'zona777bajada_1era': dtype('float64'),
 'zona777bajada_2da': dtype('float64'),
 'zona777bajada_3era': dtype('float64'),
 'zona777bajada_4ta': dtype('float64'),
 'tipotransporte_1era': dtype('O'),
 'tipotransporte_2da': dtype('O'),
 'tipotransporte_3era': dtype('O'),
 'tipotransporte_4ta': dtype('O'),
 'tespera_1era': dtype('float64'),
 'tespera_2da': dtype('float64'),
 'tespera_3era': dtype('float64'),
 'tespera_4ta': dtype('float64'),
 'escolar': dtype('float64'),
 'tviaje_en_vehiculo_min': dtype('float64'),
 'tipo_corte_etapa_viaje': dtype('O'),
 'proposito': dtype('O'),
 'dviajeenbus': dtype('float64')}

In [4]:
# Ahora podemos abrirlo con dask
import dask.dataframe as dd
viajes_sample = dd.read_csv("viajes202208_fix.csv", sep=';', encoding='utf-16')

In [5]:
with open('viajes.csv',encoding='utf-16', errors = 'backslashreplace') as f:
    viajes_sample = pd.read_csv(f, sep=';', low_memory=False, dtype=viajes_dtypes.to_dict())

In [6]:
viajes_sample = dd.read_csv("viajes202208_fix.csv", sep=';', encoding='utf-16', dtype=viajes_dtypes.to_dict())

In [7]:
# Tenemos 16.740.585 filas
# len(viajes_sample.index)

In [8]:
viajes_sample.head()

,nviaje,netapa,etapas,netapassinbajada,ultimaetapaconbajada,tviaje_seg,tviaje_min,dviajeeuclidiana_mts,dviajeenruta_mts,paraderosubida,...,tipotransporte_4ta,tespera_1era,tespera_2da,tespera_3era,tespera_4ta,escolar,tviaje_en_vehiculo_min,tipo_corte_etapa_viaje,proposito,dviajeenbus
0,1,1,NaN,1,0,NaN,NaN,NaN,NaN,EL PARRON,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,MS_M_M,SINBAJADA,NaN
1,1,1,NaN,1,0,NaN,NaN,NaN,NaN,L-13-31-45-OP,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,UE,SINBAJADA,NaN
2,1,1,NaN,1,0,NaN,NaN,NaN,NaN,T-18-156-PO-37,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,UE,SINBAJADA,NaN
3,1,1,NaN,1,0,NaN,NaN,NaN,NaN,L-13-56-5-SN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,UE,SINBAJADA,NaN
4,1,1,NaN,1,0,NaN,NaN,NaN,NaN,UNIVERSIDAD DE SANTIAGO,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,UE,SINBAJADA,NaN

In [9]:
x = viajes_sample.isna().all()

In [10]:
nviaje = viajes_sample['nviaje'].unique().compute()

In [11]:
print(nviaje)

0      1
1      2
2      3
3      8
4      6
5      7
6      5
7      4
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
25    26
26    27
27    28
28    29
29    30
30    31
31    32
32    33
33    34
Name: nviaje, dtype: int64

In [ ]:
xc = x.compute()

In [ ]:
xc[xc==True]

etapas                   True
contrato                 True
tespera_4ta_etapa        True
ttrasbordo_4ta_etapa     True
tcaminata_4ta_etapa      True
dtransbordo_4ta_etapa    True
linea_metro_bajada_1     True
linea_metro_bajada_2     True
linea_metro_bajada_3     True
linea_metro_bajada_4     True
tespera_1era             True
tespera_2da              True
tespera_3era             True
tespera_4ta              True
escolar                  True
dviajeenbus              True
dtype: bool